/* Global body styling */
body {
    font-family: 'Trebuchet MS', sans-serif;
    background: #f5f7fa; /* Light grey background */
    color: #333;
    text-align: center;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #484d55;
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    background-color:#e97770;
    transform: translateY(-3px);
}

/* Intro Section Styling */
.intro {
    background-color: whitesmoke;
    color: white; 
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    animation: fadeInUp 1.5s ease-in-out;
}

.intro p {
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: bold;

}

/* Main Content Section */
.main-content {
    background-color: #ecf0f1;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px; 
}


/* Header Section */
h1 {
    text-align: center;
    font-size: 3rem;
    color: #34495e;
    margin-top: 20px;
    animation: fadeIn 1.5s ease-in;
}

/* Main Content Section */
section {
    margin: 40px 60px;
    animation: fadeInUp 2s ease-in;
}

/* Styling for figures */
figure {
    text-align: center;
    margin: 20px auto; 
}

/* Styling for paragraph text */
p {
    font-size: 1rem;
    line-height: 1.8;
    color: #7f8c8d; 
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Section headings */
h2 {
    font-size: 2rem;
    color: #34495e;
    margin-bottom: 20px;
    font-weight: bold;
    animation: fadeInUp 1s ease-in;
    text-align: center;
}

